# Milestone 1

### pandas.Series

In [ ]:
import pandas as pd #import the pandas and aliasing as pd
import numpy as np
data = np.array(['a','b','c','d'])
s1 = pd.Series(data)
print(s1)
data = np.array([1,2,3,4])
s2 = pd.Series(data)
print(s2)

What are the results? What are the differences between s1 and s2?

:The results are showing arrays s1 and s2 with index, value, and type of value. The difference of s1 and s2 is data type between object and integer.

In [ ]:
#Created a hetetogenously-typed series
data = np.array([1,'b',3,'d'])
s3 = pd.Series(data)
print(s3)

What is a data type of the heterogeneously-typed series when you print out the created series?

:Object

In [ ]:
data = np.array(['a','b','c','d'])
s = pd.Series(data,index=[100,101,102,103])
print(s)

Can you notice that the index is changed? : Yes

In [ ]:
s = pd.Series([1,2,3,4,5],index = ['a','b','c','d','e'])
print(s[0])

##### Exercise: 
Write a code to retrieve (show) only the first three elements in Series s.

In [ ]:
print(s[0:3])

##### Exercise: 
Let try to use an index (e.g. ‘a’) to access the element in Series s,
e.g. s[[‘a’]]

In [ ]:
print(s[['a']])

In [ ]:
#retrieve multiple elements
print(s[['a','c','d']])

### pandas.DataFrame

In [ ]:
import pandas as pd
df = pd.DataFrame()
print(df)

In [ ]:
#create DataFrame from list
data = [1,2,3,4,5]
df1 = pd.DataFrame(data)
print(df1)

In [ ]:
data = [['Alex',10],['Bob',12],['Clarke',13]]
df2 = pd.DataFrame(data,columns=['Name','Age'])
print(df2)

In [ ]:
#Create a DataFrame from Dict of ndarrays/Lists
data = {'Name':['Tom', 'Jack', 'Steve', 'Ricky'],'Age':[28,34,29,42]}
df = pd.DataFrame(data)
print(df)

In [ ]:
#Create a DataFrame from Dict of Series
d = {'one' : pd.Series([1, 2, 3], index=['a', 'b', 'c']),
     'two' : pd.Series([1, 2, 3, 4], index=['a', 'b', 'c', 'd'])}
df = pd.DataFrame(d)
print(df)

Notice that we have NaN, why? : We have NaN because the data in column one doesn't have a data at index 4, but in column two has.

##### Exercise:  
now, this is your turn to create the following table as Dataframe and name this table as studentDF.

In [ ]:
studentD = {'Math' : pd.Series([90,10,34,23,43]), 'C-programming' : pd.Series([70,20,25,32,73]),
    'Java' : pd.Series([50,41,67,34,23]), 'Web-programming' : pd.Series([55,66,23,76,67])}
studentDF = pd.DataFrame(studentD)
print(studentDF)

In [ ]:
print(studentDF)
print(studentDF[2:4]) #Slice Rows
print(studentDF.loc[0])
print(studentDF.loc[2])
print(studentDF.loc[0:2])

In [ ]:
#To add new rows to a DataFrame
df = pd.DataFrame([[1, 2], [3, 4]], columns = ['a','b'])
df2 = pd.DataFrame([[5, 6], [7, 8]], columns = ['a','b'])
df = df.append(df2)
print(df)

##### Exercise: 
use append to add the following table to table studentDF that you ave created in the previous exercise.

In [ ]:
studentDF2 = pd.DataFrame([[57,37,84,82],[41,34,73,55]], columns = ['Math','C-programming','Java','Web-programming'],
                         index = [5,6])
studentDF = studentDF.append(studentDF2)
print(studentDF)

In [ ]:
# Drop rows with label 0
df = df.drop(0)
print(df)

##### Exercise: 
use drop function to remove the last row from table studentDF.

In [ ]:
studentDF = studentDF.drop(6)
print(studentDF)

# MileStone 2

### Descriptive Statistics

In [ ]:
data = {'Name':['Tom', 'Jack', 'Steve', 'Ricky'],'Age':[28,34,29,42]}
df = pd.DataFrame(data)
df.sum()

##### Exercise: 
try to apply sum() with table studentDF. What is the result?

In [ ]:
studentDF.sum()

##### Exercise: 
try to use axis attribute to change the orientation of the summation.

In [ ]:
studentDF.sum(axis = 1)

##### Exercise: 
use the above statistical functions on table studentDF, and see the
results

In [ ]:
print(studentDF.count())

In [ ]:
print(studentDF.sum())

In [ ]:
print(studentDF.mean())

In [ ]:
print(studentDF.median())

In [ ]:
print(studentDF.mode())

In [ ]:
print(studentDF.std())

In [ ]:
print(studentDF.min())

In [ ]:
print(studentDF.max())

In [ ]:
print(studentDF.abs())

In [ ]:
print(studentDF.prod())

In [ ]:
print(studentDF.cumsum())

In [ ]:
print(studentDF.cumprod())

In [ ]:
#You can also use describe() to compute a summary of statistics pertaining to the DataFrame columns. 
import pandas as pd
import numpy as np
#Create a Dictionary of series
d = {'Name':pd.Series(['Tom','James','Ricky','Vin','Steve','Smith','Jack','Lee','David','Gasper','Betina','Andres']),
     'Age':pd.Series([25,26,25,23,30,29,23,34,40,30,51,46]),
     'Rating':pd.Series([4.23,3.24,3.98,2.56,3.20,4.6,3.8,3.78,2.98,4.80,4.10,3.65])}
#Create a DataFrame
df = pd.DataFrame(d)
df.describe()

##### Exercise: 
use describe() on table studentDF and answer the following questions

In [ ]:
studentDF.describe()

• What is the mean value of Math score? : 42.833333

• What is the score at the third quartile of Java? : 62.75

• What is the standard deviation of Web programming score? : 21.002381

### Missing Data

In [ ]:
studentDF = studentDF.reindex([0,1,2,3,4,5,6,7])
print(studentDF)

How many NaN appear
in table studentDF. : 8

##### Check for Missing Values

In [ ]:
df = pd.DataFrame(np.random.randn(5, 3), index=['a', 'c', 'e','f', 'h'],columns=['one', 'two', 'three'])
df = df.reindex(['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h'])
print(df['one'].isnull())
print(df['two'].notnull())

##### Exercise: 
use isnull() and notnull() with table studentDF and see the
results.

In [ ]:
print(studentDF['Math'].isnull())
print(studentDF['C-programming'].isnull())
print(studentDF['Java'].isnull())
print(studentDF['Web-programming'].isnull())

### Filling Missing Data

In [ ]:
s1 = studentDF
s2 = studentDF
s1 = s1.fillna(0)
s2 = s2.fillna(method='pad')
print(s1)
print(s2)

##### Exercise:
What is the differences between s1 and s2. : The differences are s1 changes nan into 0, but s2 changes into a value by using the data from the last.

# MileStone 3

### Joining/Grouping

In [ ]:
left = pd.DataFrame({'id':[1,2,3,4,5],'Name': ['Alex', 'Amy', 'Allen', 'Alice', 'Ayoung'],
                     'subject_id':['sub1','sub2','sub4','sub6','sub5']})
right = pd.DataFrame({'id':[1,2,3,4,5],'subject_name':['Math','English','Social Science','Programming','Physics']})
print(left)
print(right)

In [ ]:
merged_table = pd.merge(left,right,on='id')
print(merged_table)

##### Exercise: 
create table section and create table student as the following.
You have to use merge() to join the section table with the student table below
and name your table as score. Note that use id as a joining key

In [ ]:
sec = pd.DataFrame({'id':[0,1,2,3,4,5], 'section':['one','one','one','two','two','two']})
student = pd.DataFrame({'id':[0,1,2,3,4,5], 'name':['Mat','Mike','John','Peecha','Prabu','Bunchu'], 
                        'math':[34,12,34,12,65,23], 'english':[23,13,51,62,12,42]})
score = pd.merge(sec,student,on='id')
print(score)

In [ ]:
score_sec = score.groupby('section')
score_sec.sum()

What is the result from using sum() on the groupby table? : There summalize the id, math score, and english score. It only summarize an integer.